{%extends "layout.html"%}
{%block content%}
<div class="about">
  <h1>Abotu Us!</h1>
  <p>
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ratione placeat, unde quaerat repellat nostrum repudiandae labore assumenda dolorum asperiores maiores eveniet dicta et voluptate doloremque architecto laborum quos amet.</span>
    <span>Laboriosam, ea eum nisi aperiam voluptatum corporis quae! Neque, dolore maxime sed odio deleniti accusamus aut? Facere suscipit esse vitae non perferendis animi nostrum nam nesciunt temporibus rerum! Autem, accusamus?</span>
    <span>Facere voluptas fugit deleniti, enim labore quaerat vitae neque quod, voluptates iusto expedita. Magnam sapiente natus dolore aliquid, laborum. Eos tempora reprehenderit obcaecati consequuntur sequi animi sapiente delectus! Commodi, eveniet.</span>
  </p>
</div>
{%endblock%}
